# Deshabilitar listado de directorios
Options -Indexes

# Páginas personalizadas para errores
ErrorDocument 404 /intranet/404.php
ErrorDocument 403 /intranet/403.php

# Habilitar motor de reescritura
RewriteEngine On

# Bloquear acceso directo a carpetas sensibles
RewriteRule ^intranet/uploads/ - [F,L]
RewriteRule ^intranet/archivos/ - [F,L]

# Permitir acceso a archivos y directorios existentes
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

